<div class= "page-wrap">
<h1 class = "main-title">About</h1>
<p>How high do you wanna cycle? Give us your old bike parts and get back THE bike. Wheels, handlebars, saddles, there's no limit to our imagination...</p>
</div>
