<div class= "page-wrap container">
  <h1 class = "main-title">About</h1>
  <h4>How high do you wanna cycle?<br>Give us your old bike parts and get back THE bike. <br>Wheels, handlebars, saddles, there's no limit to our imagination...</h4>
</div>
