<div class= "page-wrap container">
  <h1 class = "main-title">Contact</h1>
  <h4>We believe in recycling and creativity. <br>We're artistic mechanics, with safety measures. <br>Get in touch with us at: flyingwheels@attentochecadi.com</h4>
</div>
