<% cache do %>
  <body class="index-body">
<% end %>
<div class= "container index-container">
  <div class="welcome-index">
    <h2 class= "welcome-title">MADE UP BIKES <br> BERLIN</h2>
    <a href= "simple_pages/landing_page/" id= "wheel-btn"><i class="fas fa-dharmachakra"></i></a>
  <!-- <%= link_to image_tag("bigwheelsbike.jpg", class: "img-fluid welcome-img"), simple_pages_landing_page_path %> -->
  </div>
</div>
</body>
