<body class="index-body">
<div class= "container index-container">
  <h1 class= "main-title">MadeUpBikes Berlin</h1>
  <h2>Step into the great world of modified bikes and find THE one for you!</h2>
  <!-- <%= link_to image_tag("bigwheelsbike.jpg", class: "img-fluid welcome-img"), simple_pages_landing_page_path %> -->
</div>
</body>
