<div class= "page-wrap">
  <h1 class = "main-title">Made-up-Bikes Berlin</h1>
  <h2>Step into the great world of modified bikes and find THE one for you!</h2>
  <%= image_tag("bigwheelsbike.jpg", class: "img-responsive welcome-img") %>
</div>
