<div class="index-body">
  <div class= "container index-container index-body">
    <a href= "simple_pages/landing_page/" class= "welcome-link">
      <div class="welcome-index">
        <h2 class= "welcome-title">MADE UP BIKES <br> BERLIN</h2>
        <i class="fas fa-dharmachakra" id= "wheel-btn"></i>
      </div>
    </a>
  </div>
</div>
