<div class= "page-wrap">
  <h1 class = "main-title">Welcome to Bike Berlin</h1>
  <h2>Your home to the great world of modified bikes</h2>
  <%= image_tag("bigwheelsbike.jpg", class: "img-responsive welcome-img") %>
</div>
