<div class="container thanks-container">
  <div class="thanks-box">
    <p class="thanks-text">Thank you for your message. We'll get back to you as soon as we can.</p>
    <p class="normal-anchors"><%= link_to "Back to Homepage", simple_pages_landing_page_path %> </p>
  </div>
</div>
