<table>
  <tbody>
    <tr>
      <td>
        <p>You have received a new contact form message.</p>
        <p> The message reads:</p>
      </td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>
