// Show, edit, delete btns
.td-btn {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: rgba(51, 65, 68, 0.9);
  display: inline;
  padding: 2px;
 }

.td-btn:hover {
  background: none;
  color: #333;
  text-decoration: none;
 }
.td-result { font-size: 15px; }

// NEW product btn
.new-prod-btn {
  background-color: rgba(139,166,171, 0.9);
  padding: 10px 15px;
  border-radius: 5px;
  margin: 0;
  float: right;
}

.new-prod-btn a {
  font-size: 1.40em;
  color: #4d0000;
}

.submit-btn:visited {
color: #ffffee;
}

.new-prod-btn a:hover, .fa-angle-left {
  text-decoration: none !important;
  color: #4d0000;
  background: none !important;
}

p:hover.new-prod-btn {
  box-shadow: 10px 10px 5px grey;
}
.submit-btn {
  color: #ffffee;
  font-size: 1.30em;
  margin: 5px;
  background-color: rgba(139,166,171, 0.9);
  padding: 10px 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.submit-btn:hover {
  color: #4d0000;
  cursor: pointer;
}

//NEW product form with fields

#product-form {
  margin: auto;
  width: 30%;
  display: block;
}

.new-prod-form {
  padding: 20px;
}

.field label {
  font-size: 18px;
}

.edit-div, .new-prod-div {
  text-align: center;
}


// NEW go back to "create new product" link
// Note: at the moment the only clickable part of fa-angle-left is the a. Make the icon clickable as well.
.fa-angle-left {
  font-size: 25px;
  padding-top: 30px;
}

.fa-angle-left a {
  color: #333;
  margin-left: 20px;
}

.fa-angle-left a:hover {
  text-decoration: none;
  color: rgba(139, 166, 171, 0.9);
  background: none;
}

// SHOW page
#notice, .show-div p, a {
  font-size: 18px;
  font-family: Georgia, Times, "Times New Roman", serif;
  margin-top: 20px;
}

.product-title {
  font-size: 4em;
  font-variant: petite-caps;
  color: #4d0000;
  margin-top: 100px;
}
.show-content {
  padding: 30px;
  border: 2px solid rgba(139, 166, 171, 0.9);
  border-radius: 5px;
  margin-bottom: 30px;
}

.products-row {
  padding-top: 10px;
  border: 1px solid #e4e5d5;
  border-radius: 2px;
}

.prod-image {
  display: block;
  margin: auto;
  padding: 15px;
}

.show-bottom-btn {
  display: inline-block !important;
}
// PRODUCT INDEX CARD

.prod-card {
  border: 1px solid rgba(139, 166, 171, 0.9);
}

.card-columns {
  display: inline-block;
}

#card-prod-name a {
  font-size: 1.5em;
  color: #4d0000;
}

#card-prod-name a:hover {
  color: #a70a0a;
  text-decoration: none;
}

.icon-text, .icon-text-title {
  font-family: Georgia, Times, "Times New Roman", serif;
  display: inline-block;
  -webkit-font-smoothing: auto;
  padding: 5px;
  font-variant: petite-caps;
}

.icon-text-index {
  font-weight: normal;
  font-size: 1.15em;
}

.icon-text-show {
  font-weight: normal;
  font-size: 1.2em;
}
.icon-text-title {
  font-weight: bolder;
  font-size: 1.3em;
}

// COMMENTS
.product-reviews {
  font-variant: petite-caps;
}

#rating-title {
  padding-bottom: 15px;
}

.rated {
  display: inline;
}

#average-title {
  display: inline;
}
#comment-field {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  background-color: lightgoldenrodyellow;
  resize: both;
}

#rating-form {
  margin-bottom: 25px;
}

// COMMENTS PAGINATION

div .pagination {
  display: block !important;
  text-align: center;
  padding: 0.3em;
}

.comments_pagination .disabled {
  color: rgba(139, 166, 171, 0.9);
  padding: 3px;

}

.comments_pagination .current {
  color: #4d0000;
  padding: 3px;

}

.comments_pagination a {
  color: #4d0000;
  text-decoration: none;
  padding: 3px;
}

.comments_pagination a:hover, comments_pagination a:focus {
  border-bottom: 1px solid #003366;
}
.comments_pagination .previous_page, .comments_pagination .next_page {
    border-width: 2px; }
.comments_pagination .previous_page {
    margin-right: 1em; }
.comments_pagination .next_page {
    margin-left: 1em; }

.page_info {
  text-align: center;
  color: #4d0000;
}
