body {
  font-family: Georgia, Times, "Times New Roman", serif;
  margin: 0;
  background: image-url('filios-sazeides-536623-unsplash-c.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: scroll;
}

.index-body {
  background-image: url('filios-sazeides-536623-unsplash-c.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.main-alert {
  margin-top: 80px;
}

//**********    NAVBAR    **********

.main-nav {
  background-color: rgba(139,166,171, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.main-nav-header {
  border-top: 2px solid;
  border-bottom: 2px solid;
  color: #4d0000;
  margin: 5px 0;
}

.main-nav-menu {  list-style-type: none !important; }

#first-nav-item { margin-top: 10px; }

.main-nav-item {  color: #4d0000; }

 .main-nav-item:hover {
   text-decoration: none;
   color: #ffffee;
 }

.main-nav-menu li {
  padding-bottom: 10px;
  font-size: 1.15em;
}

.main-nav-menu li:hover { cursor: pointer;  }

.navbar-right {
  display: inline;
}
.log-nav-item {
  padding: 5px 0;
  border-top: 1px solid #4d0000;
  border-bottom: 1px solid #4d0000;
  margin-right: 5px;
  display: inline;
}

.user-logo {
  display: inline;
  margin-right: 10px;
  padding: 7px;
  border: 1px solid #4d0000;
  border-radius: 20px;
}

#nav-search-label {
  text-decoration: none;
  color: #4d0000;
}

#q {  color: #4d0000; }

#search-btn {
  background-color: rgba(139,166,171, 0.9);
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0;
  padding: 5px 15px;
  color: #4d0000;
  border-color: #4d0000;
}

#search-btn:hover {
  font-style: italic;
  cursor: pointer;
}

.contact-btn {
  margin-top: 20px !important;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffee;
  font-size: 1.30em;
  background-color: rgba(139,166,171, 0.9);
}

.contact-btn:hover {
  color: #4d0000;
  cursor: pointer;
}

//**********    ACROSS-PAGE, CONTENT    **********

.main-title {
  font-size: 3.125 em;
  color: #4d0000;
  padding-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  font-variant: petite-caps;
}

h4, .contact-h5 { text-align: center; }

.container {
  padding-top: 90px;
  padding-bottom: 15px;
  min-height: 100%;
  margin-bottom: 30px;
  background-color: #ffffee;

  }

.container:after {
  content: "";
  display: block;
}

.contact-form {
  margin: 40px auto;
  width: 50%;
}

.thanks-box {
  margin-top: 40px;
  padding: 10px;
  display: inline-block;
  border: 2px solid #4d0000;
  border-radius: 5px;
}

.thanks-container { text-align: center; }

.thanks-text {  margin: auto; }

#first-radio {  padding-right: 10px;  }

.news-text {
  padding: 0 4em;
  text-align: justify;
 }

//**********    INDEX PAGE    **********

.index-container {
  background-color: transparent !important;
  background-attachment: fixed;
}

.welcome-link:hover { text-decoration: none;  }


.welcome-index {
  border-radius: 30px;
  background-color: rgba(139,166,171, 0.7);
  max-width: 350px;
  padding: 40px;
  margin: 100px auto;
}

.welcome-title {
  color: #4d0000;
  text-align: center;
  font-family: monospace;
  font-size: 4em;
}

//**********    LANDING PAGE CAROUSEL    **********

.carousel-caption {
  font-variant: petite-caps;
  font-size: 2em;
  -webkit-text-stroke-width: 1px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234d0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%234d0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-img {
  max-width: 80%;
  border-style: ridge;
  border-color: rgba(77, 0, 0, 0.5);
}

#carouselExampleIndicators {
  padding-bottom: 20px;
}
//**********    FOOTER    **********
.site-footer {
  background-color: rgba(77, 0, 0, 0.8);
  color: #ffffee;
  text-align: right;
  padding-right: 10px;
  margin-top: 35px;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 40px;
}

.site-footer, .page-wrap:after { height: 30px; }

.fa-github {
  color: #ffffee;
}
