html, body { height: 100%; }

body {
  font-family: Georgia, Times, "Times New Roman", serif;
  background-color: #ffffee;
  margin: 0;
}

// OLD SIDEBAR
//
// .sidebar {
//   position: fixed;
//   width: 140px;
//   min-height: 100%;
//   margin-bottom: -30px;
//   background-color: rgba(139,166,171, 0.9);
//   border-radius: 0px 10px 10px 0px;
//   padding-left: 0px;
//   max-width: 20%;
// }

// NAVBAR
.main-nav {
  background-color: rgba(139,166,171, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.main-nav-header {
  border-top: 2px solid;
  border-bottom: 2px solid;
  color: #4d0000;
  margin: 10px 0;
}

.main-nav-menu {
  list-style-type: none !important;
}

// Note: ".sidebar-item" refers to the "a" element, "sidebar-menu li" to the "li" element, but
// on the page it is rendered as one element.
.main-nav-item {
  color: #ffffee;
}
 .main-nav-item:hover {
   text-decoration: none;
   color: #4d0000;
 }

.main-nav-menu li {
  padding-bottom: 10px;
  font-size: 1.15em;
}

.main-nav-menu li:hover {
  cursor: pointer;
}

// CONTENT

.main-title {
  font-size: 3.125 em;
  color: #4d0000;
  padding-bottom: 20px;
  margin-top: 30px;
  text-align: center;
}

h4 {
  text-align: center;
}

.page-wrap {
  padding-top: 70px;
  padding-bottom: 15px;

  min-height: 100%;
  margin-bottom: 30px;
//  margin-top: 0;
}

.page-wrap:after {
  content: "";
  display: block;
}

.welcome-img {
  border-style: double;
  margin: auto;
  margin-top: 30px;
  display: block;
}

.site-footer, .page-wrap:after { height: 30px; }

// FOOTER

.site-footer {
  background-color: rgba(77, 0, 0, 0.8);
  color: black;
  font-weight: 800;
  text-align: right;
  padding-right: 10px;
  margin-top: 35px;
}
