// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// VIEWS/DEVISE & VIEWS/USERS COMMON STYLES

.devise-containers {
  padding: 20px;
  max-width: 48%;
  border: 2px solid rgba(139, 166, 171, 0.9);
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .devise-containers {
    max-width: 100%;
  }
}
.devise-titles {
  font-size: 3.125 em;
  color: #4d0000;
  padding-bottom: 20px;
  margin-top: 30px;
}

.devise-containers a, .users-containers a {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: rgba(51, 65, 68, 0.9);
  display: inline;
  padding: 2px;
}

.devise-containers a:hover, .users-containers a:hover {
  background: none;
  color: #333;
  text-decoration: none;
}

.users-containers a { margin-top: 10px; }

.user-btn input, input[type="submit" i], .user-btn a, user-btn {
  background-color: rgba(139,166,171, 0);
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0;
  padding: 5px 15px;
  color: #4d0000;
  border-color: #4d0000;
  font-weight: bold;
}

.user-btn input:hover, input[type="submit" i]:hover {
  cursor: pointer;
}



// VIEWS/DEVISE ONLY

#edit-user-left { margin-right: 5px;  }

// VIEWS/USERS ONLY

.users-box {  margin-bottom: 10px;  }

.devise-containers div.field {  padding: 10px;  }

.user-info {
  font-size: 18px;
  margin: 0;
}

#user-list {  max-width: 100%;  }

.userdata-row { margin-top: 5px;  }

#new-user-btn a {
  padding: 5px 15px;
  border: 2px solid #4d0000;
  border-radius: 5px;
  color: #4d0000;
}

#new-user-btn a:hover { cursor: pointer;  }

.cmd-links {  display: inline;  }
.cmd-links a {
  font-family: Georgia, Times, "Times New Roman", serif;
  color: #5a7592;
  padding: 2px;
}

.cmd-links a:hover {
  background: none;
  color: #333;
  text-decoration: none;
 }
