<div class= "page-wrap container edit-div">
  <h1 class= "main-title">Editing Product</h1>

  <%= render 'form', product: @product %>

  <%= link_to 'Show', @product %> |
  <%= link_to 'Back', products_path %>
</div>
