<div class= "container edit-div">
  <h1 class= "main-title">Editing Product</h1>

  <%= render 'form', product: @product %>

  <p> <%= link_to 'Show', @product, :class=> "td-btn" %> |
  <%= link_to 'Back', products_path, :class=> "td-btn" %> </p>
</div>
