<div class= "container clearfix">

  <%= if notice %>
    <p id="notice" class= "alert alert-secondary"><%= notice %></p>
  <% end %>

  <h1 class= "main-title">Products</h1>
  <div class="card-columns">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
  <hr>
  <p class="new-prod-btn"><%= link_to 'Create a new product', new_product_path %></p>

</div>
