<div class="page-wrap container">
  <h1 class= "main-title">New Product</h1>

  <div class= "new-prod-form"><%= render 'form', product: @product %></div>

  <i class="fas fa-angle-left"><%= link_to 'Back to Products', products_path %></i>
</div>
